.product-prop {
    --description-text-color: var(--secondary-text-color);
    --padding-small: 24px;
    --padding-big: 32px;
    --button-box-shadow: #FF7E1B;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 64px;
    justify-content: space-between;
    opacity: 0;

    animation: fade-right .5s ease-out .4s forwards;

    @keyframes fade-right {
        0% {
            opacity: 0;
            transform: translateX(-150px);

        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .product-details, .product-shop{
        max-width: 700px;
        width: 100%;
    }

    .product__company {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--primary-color);
        padding-bottom: var(--padding-small);
    }

    .product__heading {
        font-weight: 700;
        font-size: clamp(28px, 7vw, 44px);
        line-height: 109%;
        padding-bottom: var(--padding-big);
    }

    .product__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: var(--description-text-color);
        padding-bottom: var(--padding-small);
        max-width: 60ch;

        p:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .product-price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: var(--padding-small);
        row-gap: 4px;
        font-weight: 700;
        padding-bottom: var(--padding-big);

        &__current {
            font-size: 28px;
            line-height: 125%;

            &::before {
                content: '$';
            }
        }

        &__discount {
            font-size: 16px;
            line-height: 125%;
            color: var(--primary-color);
            background-color: var(--primary-color-light);
            border-radius: 6px;
            padding: 5px 7px;

            &::after {
                content: '%';
            }
        }

        &__old {
            width: 100%;
            text-decoration: line-through;
            font-weight: 700;
            font-size: 16px;
            line-height: 162%;
            color: var(--accent-text-color);

            &::before {
                content: '$';
            }
        }
    }

    .product-controls {
        display: flex;
        gap: 16px;

        .product-amount {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            background-color: var(--accent-color);
            min-width: clamp(120px, 15vw, 156px);

            &__number {
                font-family: var(--font-stack);
                color: var(--primary-text-color);
                font-weight: 700;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
            }

            .font-icon-product {
                font-family: var(--font-icon);
                color: var(--primary-color);
                padding: 22px 16px;
                cursor: pointer;

                &:hover {
                    color: var(--primary-color-hover);
                }
            }
        }

        &__cart {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            background-color: var(--primary-color);
            border-radius: 10px;
            color: var(--background-color);
            padding-block: 18px;
            padding-inline: 12px;
            width: 100%;
            max-width: 275px;
            cursor: pointer;
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;

            &:hover {
                background-color: var(--primary-color-hover);
            }
        }
    }

    @media screen and (max-width: $breakpoint) {
        width: unset !important;

        .product__company {
            font-size: 12px;
        }

        .product__desc {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 500px) {
        .product-price {

            &__old {
                width: unset;
            }

            &__discount {
                margin-right: auto;
            }
        }

        .product-controls {
            flex-direction: column;
        }

        .product-controls__cart {
            max-width: unset;
            box-shadow: 0px 20px 50px -20px var(--button-box-shadow);
            padding-inline: unset;
        }
    }
}