@import './sass/variables';
@import '@/nav/nav';
@import '@/product/product';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-stack);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

[class*='font-icon-'] {
    display: inline-block;
    font-family: var(--font-icon);
    user-select: none;
    font-weight: 400;
}

body.preload * {
    animation-duration: 0s !important;
    transition:all 0s !important;
}